:root {
    /*--Default colors, set in theme tab if changed--*/
    --background: #373737;
    --textcolor: #fff;

    --accentcolor1: #fff;
    --accentcolor2: #ff7b00;
}

/*@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
https://cdnjs.com/libraries/font-awesome
*/

@font-face {
    font-family: 'print';
    src: url('printable.ttf');
}


body {
    background-color: var(--background);
    color: var(--textcolor);
    margin: 0 auto;
}


a {
    color: var(--accentcolor2);
    text-decoration: none;
    font-weight: 700;
}

a:hover {
    color: var(--accentcolor2);
}

.mainmenu {
    float: left;
    width: 100%;
    padding-top:20px;
}

.mainmenu .mainmenuouter {
    float:left;
    width: 60%;
    margin-left:20%;
}

.mainmenu .mainmenuouter .menulogoouter {
    float:left;
    width:100%;
    text-align: center;
    font-size:7em;
    font-family: print;
    color: var(--accentcolor2);

}

.mainmenu .mainmenuouter .menulogoouter .menulogo {
    width:100%;

}


.mainmenu .mainmenuouter .menuitems {
    float:right;
    width: 100%;
}

.mainmenu .mainmenuouter .menuitems .menuitemouter {
    float:right;
    width: 25%;
    cursor: pointer;
    border-bottom: 5px solid var(--background);
    padding-top:5px;
}

.mainmenu .mainmenuouter .menuitems .menuitemouter:hover {
    background-color: var(--accentcolor2);
    color: var(--background);
    border-color: var(--accentcolor2);
}
.mainmenu .mainmenuouter .menuitems .menuitemouter.selected {
    background-color: var(--accentcolor2);
    color: var(--background);
    border-color: var(--accentcolor2);
}

.mainmenu .mainmenuouter .menuitems .menuitemouter .menuitem {
    text-align:center;
    font-size: 2em;
    font-family: 'print';
}

.topbannerouter {
    float:left;
    width:100%;
    background-color: var(--accentcolor2);
    padding: 50px 0;
}

.topbannerouter .topbannercontent {
    float:left;
    width: 60%;
    margin-left:20%;
    color: var(--accentcolor1);
    font-size: 2em;
}

.topbannerouter .topbannercontent .topbannerlogo {
    float:left;
    margin-left:15%;
    width: 35%;
}

.topbannerouter .topbannercontent .topbannerblurb {
    float:left;
    margin-right:15%;
    width: 35%;
    text-align: right;
}



.maincontent {
    float:left;
    width: 60%;
    margin-left: 20%;
    padding-top: 50px;
    display:none;
}

.maincontent .maincontenttitle {
    float:left;
    width: 100%;
    text-align: center;
    font-size: 5em;
    border-bottom: 5px solid var(--accentcolor2);
    font-family: 'print';
}

.maincontent .maincontentsubtitle {
    float:left;
    width: 100%;
    text-align: center;
    font-size: 2em;
    border-bottom: 5px solid var(--accentcolor2);
    padding: 20px 0;
}



/*-- Home content --*/
.homepanelouter {
    float:left;
    width:100%;
    font-size: 6em;
    padding-top: 10px;
}

.homepanelouter .homepaneliconouter {
    float:left;
    width: 30%;
    text-align: center;
    background-color: var(--accentcolor2);
    color: var(--accentcolor1);
    padding: 5% 0;
}

.homepanelouter .homepanelwordsouter {
    float:left;
    width: 70%;
    text-align: center;
    padding: 5% 0;
    background-color: var(--accentcolor1);
    color: var(--accentcolor2);
    font-size: 0.5em;

}

.homepanelouter.alt .homepaneliconouter {
    float:right;
    /* background-color: var(--accentcolor1);
    color: var(--accentcolor2); */
}

/* .homepanelouter.alt .homepanelwordsouter {
    background-color: var(--accentcolor2);
    color: var(--accentcolor1);
} */




/*-- products -- */
.productlistouter {
    float:left;
    width: 100%;
}

.productlistouter .productitemouter {
    float:left;
    width: 50%;
    border-radius: 30px;
    transition: ease-in-out all 0.5s;
}

/* .productlistouter .productitemouter:hover {
    background-color: var(--accentcolor2);
} */

.productlistouter .productitemouter .productiteminner {
    float:left;
    width: 90%;
    margin: 2.5%;
}

.productlistouter .productitemouter .productiteminner  {
    border-color: var(--accentcolor2);
}

.productlistouter .productitemouter .productiteminner  .productname {
    float:left;
    width: 100%;
    text-align: center;
    padding: 10px 0;
    background-color: var(--accentcolor2);
    color: var(--accentcolor1);
    font-size: 2em;
    font-weight: 700;
}

.productlistouter .productitemouter .productiteminner  .productimage {
    float:left;
    width: 100%;
}

.productlistouter .productitemouter .productiteminner  .productimage img {
    object-fit: cover;
    width:100%;
    height: 100%;
}

.productlistouter .productitemouter .productiteminner  .productdesc {
    float:left;
    width: 100%;
    text-align:center;
    font-size: 1.5em;
    color: var(--accentcolor1);
} 


/*-- Footer -- */
.footerouter {
    float:left;
    width: 100%;
    border-top: 10px solid var(--accentcolor2);
    padding: 100px 0;
    margin-top: 100px;
}

.footerouter .socialouter {
    float: left;
    width: 60%;
    margin-left:20%;

}

.footerouter .socialouter .socialitemouter {
    float: left;
    width: 100%;
    padding: 10px 0;
}