
/*---- Mobile view changes ---- */


@media only screen and (max-width: 1000px) {

    /* menu sizes */
    .mainmenu .mainmenuouter {
        float:left;
        width: 90%;
        margin-left:5%;
    }

    .mainmenu .mainmenuouter .menulogoouter {
        float:left;
        margin-right: 0;
        width:100%;
    }

    .mainmenu .mainmenuouter .menulogoouter .menulogo {
        width:100%;
    }


    .mainmenu .mainmenuouter .menuitems {
        float:right;
        width: 100%;
        padding-top: 2%
    }

    .mainmenu .mainmenuouter .menuitems .menuitemouter {
        float:right;
        width: 25%;
        padding: 15px 0;
        cursor: pointer;
        border-bottom: 2px solid var(--background);
        font-size:1.25em;
    }

    .mainmenu .mainmenuouter .menuitems .menuitemouter .menuitem {
        text-align:center;
        font-size: 2em;
        font-family: 'punk';
    }

    .topbannerouter .topbannercontent {
        float:left;
        width: 90%;
        margin-left:5%;
        color: var(--accentcolor1);
        font-size: 2em;
    }

    .topbannerouter .topbannercontent .topbannerlogo {
        float:left;
        margin-left:5%;
        width: 45%;
    }

    .topbannerouter .topbannercontent .topbannerblurb {
        float:left;
        margin-right:5%;
        width: 45%;
        text-align: right;
    }


    .memberouter {
        font-size:1.5em;
    }

    /*-- Tab content, remove margins --*/
    .maincontent {
        float:left;
        width: 95%;
        margin-left:2.5%;
        padding-top: 100px;
        display:none;
    }



}